<ion-content>
  <div class="container">
    <div class="title">
      <h1>¡Para <b>DESACTIVAR</b> coloque su contraseña!</h1>
    </div>
    <ion-item>
      <ion-input placeholder="Contraseña..." type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <img class="img" src="./../../../assets/Isotipo_Purple_NoBCK.svg" alt="Isotipo" />
    <div class="buttons-container">
      <ion-button expand="full" (click)="closeModal()">Cancelar</ion-button>
      <ion-button expand="full" (click)="confirmPassword()">Confirmar</ion-button>
    </div>
  </div>
</ion-content>